@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --turquoise-blue: #47cfac;
    --backgroung: #e6e9ed;
    --surface-decorative: #22272d;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono' , monospace; 
}

/* ****************************** Header ****************************** */

a{
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 140px;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: var(--turquoise-blue);
    justify-content: end;
}

header .header-icons-container .icons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

}

header .header-icons-container .icons a{
    width: 30px;
    height: 30px;
}

header .header-icons-container .icons a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);       
}

header nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

header nav .nav-logo-container{
    width: 200px;
}

header nav .nav-logo-container a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header nav .profile-link{
    display: grid;
    place-content: center;
    margin-right: 50px;
}

header nav .profile-link a{
    text-decoration: underline;
}

/* ****************************** End Header ****************************** */

/* ****************************** Main Section ****************************** */

main{
    display: grid;
    justify-items: center;
}

.section-container{
    width: 80%;
    display: grid;
    justify-items: center;
}

.section-container img{
    width: 100%;
}

.article-container{
    width: 90%;
    padding-bottom: 50px;
}

.section-container h3{
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--backgroung);
    margin-bottom: 20px;
}

.section-container h1{
    margin-bottom: 20px;
}

.article-container p:nth-child(3){
    margin-bottom: 10px;
}

.article-container p:nth-child(4){
    margin-bottom: 10px;
}

/* ****************************** Contact Section ****************************** */


.contact-container{
    width: 100%;
    height: 200px;
    background-color: var(--backgroung);
    display: flex;
    justify-content: center;

}

.contact-container-center{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.contact-container img{
    width: 100px;
    justify-self: end;
    align-self: center;
}

.contact-info-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.write-info-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.contact-paragraph-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.contact-paragraph-container p:first-child{
    text-decoration: underline;
    margin-bottom: 10px;
}

/* ****************************** End Contact Section ****************************** */


/* ****************************** End Main Section ****************************** */



/* ****************************** Footer Section ****************************** */

footer{
    height: 100px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.footer-color-1{
    background-color: var(--turquoise-blue);
}

.footer-color-2{
    background-color: var(--surface-decorative);
    display: grid;
    place-content: center;
}

.footer-color-2 p{
    color: white;
}

/* ****************************** End Footer Section ****************************** */